<h1 class="par6">Facebook Feed</h1>
<div class="container-fluid">
  <div class="row">
    <p><p>
    {{#each fbFeed}}
      <div class="col-md-4" >
        <img src="{{photo}}" class="img-responsive" class="img hashtag-img">
        <p class="fbInfo"> {{caption}} </p>
        <p class="fbInfo"> {{message}} </p>
        <p class="fbInfo"> <b>{{time}} </b></p>
      </div>
    {{/each}} 
  </div>
</div>
</div>