<p class="par0">Cognitive Science (COGS) 121</p>
<p class="par1">Human & Computer Interaction Programming</p>
<p class="par2">Spring 2015</p>
<p class="par3">Assignment #1</p>
<p class="par4">Jennifer Lu & Alvin Yan</p>
<p><a href="/auth/instagram" class="instaButton">Login with Instagram</a></p>
<p><a href="/auth/facebook" class="fbButton">Login with Facebook</a></p>