body {
  font: 14px Verdana, "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #b0c4de;
  background-image: url("home_wallpaper.png");
  background-repeat: no-repeat;
  background-position: right top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.insta{
	height: 500px;
}

p.par0 {
    font-family: Tahoma, Geneva, sans-serif;
    margin:60px 0px;
    padding:0px;
    text-align:center;
    background-color: rgba(181, 218, 255, 0.5);
    color:#000059;
    font-size: 2.450em;
}
p.par1 {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: rgba(203, 229, 255, 0.5);
    color:#000059;
    font-size: 1.100em;
    padding:0px;
    text-align:center;
}
p.par2 {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: rgba(219, 237, 255, 0.5);
    color:#000059;
    font-size: 1.100em;
    padding:0px;
    text-align:center;
}
p.par3 {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: rgba(230, 242, 255, 0.5);
    color:#000059;
    font-size: 1.100em;
    padding:0px;
    text-align:center;
}
p.par4 {
    font-family: Tahoma, Geneva, sans-serif;
    margin:20px 0px;
    background-color: rgba(238, 246, 255, 0.5);
    color:#000059;
    font-size: 1.100em;
    padding:0px;
    text-align:center;
}

h1.par5 {
    font-family: Tahoma, Geneva, sans-serif;
    margin:0.500em 0.000em;
    padding:0px;
    text-indent: 1.000em;
    text-align:left;
    background-color: rgba(181, 218, 255, 0.5);
    color:#000059;
    font-size: 2.450em;
}

h1.par6 {
    font-family: Tahoma, Geneva, sans-serif;
    margin:0.500em 0.000em;
    padding:0px;
    text-indent: 1.000em;
    text-align:left;
    background-color: rgba(181, 218, 255, 0.5);
    color:#000059;
    font-size: 2.450em;
}

h1.par7 {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0.000em 0.000em;
    padding: 0px;
    text-indent: 2.000em;
    text-align: left;
    background-color: rgba(219, 237, 255, 0.5);
    color: #000059;
    font-size: 1.250em;
}

p.accountUni {
    font-family: Tahoma, Geneva, sans-serif;
    margin:0.000em 0.000em;
    padding:0px;
    text-indent: 2.500em;
    text-align:left;
    background-color: rgba(181, 218, 255, 0.75);
    color:#000059;
    font-size: 1.100em;
    padding:0px;
}

p.accountUni0 {
    font-family: Tahoma, Geneva, sans-serif;
    margin:0.000em 0.000em;
    padding:0px;
    text-indent: 2.500em;
    text-align:left;
    background-color: rgba(0, 0, 153, 0.5);
    color:#F0F0F5;
    font-size: 1.100em;
    padding:0px;
}

p.fbInfo {
    font-family: Tahoma, Geneva, sans-serif;
    margin:0.000em 0.000em;
    padding:0px;
    text-indent: 0.000em;
    text-align:left;   
    color:#F0F0F5;
    font-size: 1.5em;
    padding:0px;
    padding-right:0.500em;
    padding-left:0.500em;
    padding-top:0.200em;
    padding-bottom:0.125em;
}

p.fbInfo0 {
    font-family: Tahoma, Geneva, sans-serif;
    margin:0.000em 0.000em;
    padding:0px;
    text-indent: 2.500em;
    text-align:left;
    font-size: 1.100em;
    padding:0px;
    padding-bottom:1.000em;
}

p.imageText {
    font-family: Tahoma, Geneva, sans-serif;
    margin:0.000em 0.000em;
    padding:0px;
    text-indent: 0.000em;
    text-align:left;
    color:#F0F0F5;
    font-size: 1.5em;
    padding:0px;
    padding-right:0.500em;
    padding-left:0.500em;
    padding-top:0.250em;
    padding-bottom:0.250em;
}

h3.header0 {
    font-family: Tahoma, Geneva, sans-serif;
    margin:0.500em 0.000em;
    padding:0px;
    text-indent: 1.000em;
    text-align:left;
    background-color: rgba(181, 218, 255, 0.5);
    color:#000059;
    font-size: 2.450em;
}

h3.header1 {
    font-family: Tahoma, Geneva, sans-serif;
    margin:0.500em 0.000em;
    padding:0px;
    text-indent: 1.000em;
    text-align:left;
    background-color: rgba(181, 218, 255, 0.5);
    color:#000059;
    font-size: 2.450em;
}


.instaButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.instaButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.instaButton:active {
	position:relative;
	top:1px;
}

.fbButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.fbButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.fbButton:active {
	position:relative;
	top:1px;
}

.blocks{
    width: 350px;
    height: 250px;
    display: inline-block;
    padding: 10px;
    margin: 0px 0px 2.5% 2.5%;
    background-color: rgba(51, 51, 255, 0.75);
    border: 1px solid #DDD;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0px 0px 5px #DDD;
    box-sizing: border-box;
}

.blocksInsta{
    height: 500px;
    width: 300px;
    display: inline-block;
    padding: 10px;
    margin: 0px 0px 2.5% 2.5%;
    background-color: rgba(51, 51, 255, 0.75);
    border: 1px solid #DDD;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0px 0px 5px #DDD;
    box-sizing: border-box;
}